/* NavBar */

.center-navbar-items {
  flex-grow: 1;
  justify-content: center;
}

#flora-files {
  font-family: 'Kristi', cursive;
  margin-right: 1.5rem;
}

/* SearchBar */

#search-box {
  width: 300px;
}
