#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-content {
  flex: 1;
}

/* NavBar */

.center-navbar-items {
  flex-grow: 1;
  justify-content: center;
}

#flora-files {
  font-family: 'Kristi', cursive;
  margin-right: 1.5rem;
}

/* SearchBar */

#search-box {
  width: 300px;
}

/* Customization */

.hidden {
  display: none;
}

.margin-bottom {
  margin-bottom: 1rem;
}

/* Home page card list */
.image .cover {
  object-fit: cover;
}

.plant-it {
  color: #3273dc;
  cursor: pointer;
}

.plant-it:hover {
  color: #363636;
}

/* Footer */

#footer {
  padding: 1rem 1rem;
  font-size: 0.85em;
  overflow-x: hidden;
}
