#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-content {
  flex: 1;
  position: relative;
  padding-bottom: 1.5em;
}

.button {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.button.no-shadow {
  box-shadow: none;
}

/* NavBar */

.navbar {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.19);
}

.center-navbar-items {
  flex-grow: 1;
  justify-content: center;
}

#plantr {
  font-family: 'Amatic SC', cursive;
}

#center {
  flex-grow: 1;
  justify-content: center;
}

.no-tb-padding {
  padding-top: 0;
  padding-bottom: 0;
}

/* SearchBar */

#search-box {
  width: 375px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid rgb(219, 219, 219);
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.no-bottom-padding {
  padding-bottom: 0;
}

/* Customization */

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

#info:hover {
  cursor: pointer;
}

/* Home page card list */
.image .cover {
  object-fit: cover;
}

.card-footer-item {
  color: #3273dc;
  cursor: pointer;
}

.plant-it:hover {
  color: #363636;
}

/* Footer */

#footer {
  padding: 1rem 1rem;
  font-size: 0.85em;
  overflow-x: hidden;
}

/* Garden plant details */

.table th {
  width: 350px;
}

.your-notes .table th {
  width: 290px;
}

.hero .hero-body {
  padding-bottom: 0;
}

#plant-details-header {
  padding-top: 24px;
}

/* Profile */
.profile-text {
  background-color: #f5f5f5;
  border-radius: 4px;
  height: 2.25em;
  width: 100%;
  padding: calc(0.375em - 1px) calc(0.625em - 1px);
}

div .field-body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.field-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#hardiness-label {
  min-width: 247px;
  align-items: flex-start;
  padding-top: 0.3em;
}

/* Pagination */
.pagination-list {
  display: flex;
  justify-content: center;
}

/* testing out the following: */
div.stick-to-bottom {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.stick-to-bottom div.column {
  margin-left: 0;
}
